<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='Leaflet.EasyButton/src/easy-button.css') }}">
    
    <script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='leaflet/dist/leaflet.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='Leaflet.EasyButton/src/easy-button.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='list.js/dist/list.min.js')}}">
    </script>

    <style type="text/css">
        #mapid { 
            height: 950px;
        }

        #col1 {
          padding-top: 30px;
        }

        .pagination li {
          display:inline-block;
          padding:5px;
        }

        ul {
            width: 95%;
            margin: auto;
            padding-right: 0px;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <div id="col1" class="col-3">
          <div id="hike-list">
              <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="i1">Search hike: </span>
                  <input type="text" class="form-control search" aria-describedby="basic-addon1">
              </div>
              <hr />
              <ul id="hikeList" dir="rtl" class="list list-group"></ul>
              <ul class="pagination"></ul>
            </div>
        </div>

        <div class="col">
            <div id="mapid">
          
            </div>
        </div>
    </div>
</div>

<div style="display:none;">
    <li id="hacker-item" class="list-group-item d-flex justify-content-between align-items-center">
      <p class="f1"></p>
      <span class="f3 badge badge-primary badge-pill pull-left"></span>
      <input class="f4" type="hidden">
    </li>
</div>