<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='Leaflet.EasyButton/src/easy-button.css') }}">
    
    <script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='leaflet/dist/leaflet.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='Leaflet.EasyButton/src/easy-button.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='list.js/dist/list.min.js')}}">
    </script>

    <style type="text/css">
        #mapid { 
            height: 950px;
        }

        #col1 {
          padding-top: 30px;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <div id="col1" class="col-2">
        </div>

        <div class="col">
            <div id="mapid">
          
            </div>
        </div>
    </div>
</div>