<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='Leaflet.EasyButton/src/easy-button.css') }}">
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='Leaflet.awesome-markers/dist/leaflet.awesome-markers.css') }}">
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='node_modules/leaflet-legend/leaflet-legend.css') }}">

    <script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='leaflet/dist/leaflet.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='Leaflet.EasyButton/src/easy-button.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='list.js/dist/list.min.js')}}">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet-legend/leaflet-legend.js') }}">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js') }}">
    </script>

    <style type="text/css">
        #mapid { 
            height: 950px;
        }

        #col1 {
          padding-top: 30px;
        }

        .pagination li {
          display:inline-block;
          padding:5px;
        }

        #pill:after {
            content: " km";
        }
    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <div id="col1" class="col-3">
            <div id="hike-list">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="i1">Search hike: </span>
                    <input type="text" class="form-control search" aria-describedby="basic-addon1">
                </div>
                <hr />
                <div id="hikeList" dir="rtl" class="list list-group"></div>
                <ul id="pages" class="pagination"></ul>
            </div>
        </div>

        <div class="col">
            <div id="mapid">
          
            </div>
        </div>
    </div>
</div>

<div style="display:none;">
    <a href="#" id="hacker-item" class="list-group-item list-group-item-action" d-flex justify-content-between align-items-center">
        <p class="f1" style="text-align: left"></p>
        <span id="pill" class="f3 badge badge-primary badge-pill pull-left"></span>
        <input class="f4" type="hidden">
    </a>
</div>